Repository ISISComputingGroup/ibex_bluesky_core, pull requests merged in 2025-09, with the labels that each got.

#242 Add Muon Asymmetry reducer
  doc/devices/dae.md
  src/ibex_bluesky_core/devices/muon.py
  src/ibex_bluesky_core/utils.py
  tests/devices/test_muon.py
  tests/test_utils.py
Labels: size/XL, bluesky-Semver-Minor

#261 Motor limits are now checked by `ophyd-async`
  doc/devices/blocks.md
  src/ibex_bluesky_core/devices/block.py
  tests/devices/test_block.py
Labels: size/S, bluesky-documentation

#238 Add autosave frequency signal
  src/ibex_bluesky_core/devices/dae/__init__.py
Labels: size/XS, bluesky-Semver-Minor
