Repository ISISComputingGroup/ibex_bluesky_core, pull requests merged in 2025-06, with the labels that each got.

#206 typo
  doc/architectural_decisions/006-where-to-put-code.md
Labels: size/XS, bluesky-ignore-for-release

#203 Ticket195
  doc/callbacks/file_writing.md
  doc/dev/troubleshooting.md
  src/ibex_bluesky_core/callbacks/_fitting.py
  src/ibex_bluesky_core/callbacks/_utils.py
Labels: size/XS, bluesky-bug

#194 remove run decorator from polling plan
  doc/plan_stubs/polling.md
  doc/plans/plans.md
  src/ibex_bluesky_core/plan_stubs.py
  src/ibex_bluesky_core/plans/__init__.py
  tests/plans/test_init.py
Labels: size/L, bluesky-Semver-Minor

#177 allow 'exit now' as an option for optimise_axis_over_range()
  src/ibex_bluesky_core/plans/reflectometry/_autoalign.py
  tests/conftest.py
  tests/plans/test_reflectometry.py
Labels: size/L

#205 add docs for PlotPNGSaver
  doc/callbacks/plotting.md
Labels: size/M, bluesky-documentation

#207 raise exception if not in manager mode
  src/ibex_bluesky_core/devices/__init__.py
  src/ibex_bluesky_core/devices/reflectometry.py
  tests/devices/test_reflectometry.py
  tests/test_plan_stubs.py
Labels: size/M, bluesky-Semver-Minor

#209 allow manually running nightly build
  .github/workflows/lint-and-test-nightly.yml
Labels: size/XS, bluesky-ignore-for-release

#204 Implement d-spacing scan for ALF
  doc/callbacks/plotting.md
  doc/conf.py
  doc/devices/dae.md
  doc/plans/reflectometry/detector_mapping_alignment.md
  src/ibex_bluesky_core/callbacks/__init__.py
  src/ibex_bluesky_core/callbacks/_plotting.py
  src/ibex_bluesky_core/callbacks/reflectometry/__init__.py
  src/ibex_bluesky_core/callbacks/reflectometry/_det_map.py
  src/ibex_bluesky_core/devices/dae/__init__.py
  src/ibex_bluesky_core/devices/simpledae/__init__.py
  src/ibex_bluesky_core/devices/simpledae/_reducers.py
  src/ibex_bluesky_core/plans/reflectometry/_det_map_align.py
  tests/callbacks/reflectometry/test_det_map.py
  tests/devices/simpledae/test_reducers.py
Labels: size/XL, bluesky-Semver-Minor
